---
import Layout from '@layouts/base.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

let team = await getCollection('team');

team.sort((a, b) => {
    if (a.data.position.includes('Principal')) {
        return -1;
    } else if (b.data.position.includes('Principal')) {
        return 1;
    }

    if (a.data.position.includes('Doc')) {
        return -1;
    } else if (b.data.position.includes('Doc')) {
        return 1;
    }

    return 0;
});
---

<Layout title="Team">
    <section class="bg-white py-10 w-full">
        <h1 class="font-merryweather text-5xl text-gray-800 py-8">
            unic<Image width={30} height={30} src="/logo.svg" alt="logo" class="inline-block" />rn's team:
        </h1>
        <p>
            Excepteur quis mollit excepteur exercitation incididunt sint officia cupidatat duis ad quis ipsum. Et labore qui qui esse officia elit aute aliquip. Qui irure esse ea
            laborum amet aliqua elit irure
        </p>
        <div class="bg-white grid md:grid-cols-3 gap-14 items-center md:items-start justify-center py-10">
            {
                team.map((person) => (
                    <div class="flex flex-col items-center justify-center mx-auto gap-4">
                        <a href={`/team/${person.slug}`} class="inline-block h-40 w-40 aspect-square mx-auto">
                            <Image alt="profil" src={person.data.photo} width={200} height={200} class="object-cover rounded-full h-full w-full grayscale" />
                        </a>
                        <dl class="text-center">
                            <dt class="font-aleo text-xl text-gray-800">{person.data.name}</dt>
                            <dd class="text-md font-light text-gray-500 ">{person.data.position}</dd>
                        </dl>
                    </div>
                ))
            }
        </div>
    </section>
</Layout>
