---
import Layout from '../layouts/Layout.astro';

import News from '../components/News.astro';
import Project from '../components/Project.astro';
import People from '../components/Team.astro';
---

<Layout title="Welcome to unicorn.">
    <main class="">
        <Project />
        <People />
        <News />
    </main>
</Layout>
