---
import Layout from '@layouts/base.astro';
import { Content as Publications } from './publications.md';
---

<Layout title="Publications">
    <div class="prose prose-headings:font-aleo max-w-5xl mx-auto p-10">
        <Publications />
    </div>
</Layout>
