---
import ERClogo from '@components/erc-logo.astro';
---

<style>
    @media (prefers-color-scheme: dark) {
        svg {
            --text_color: theme(colors.gray.300);
        }
    }
</style>

<footer class="bg-white mt-auto bottom-0">
    <!-- <div class="max-w-screen-md px-4 mx-auto flex flex-col md:flex-row items-center"> -->
    <ERClogo class="max-w-xs pt-10 mx-auto -my-14" />
    <!-- </div> -->
</footer>
