<nav class="bg-white dark:bg-gray-800 shadow w-full">
    <div class="px-8 mx-auto max-w-5xl">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a class="flex-shrink-0" href="/">
                    <span class="w-8 h-8 text-xl">🦄</span>
                </a>

                <div class="font-aleo hidden items-baseline ml-10 space-x-4 md:flex text-lg">
                    <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium" href=""> Home</a>
                    <a class="text-gray-800 dark:text-white hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium" href="#"> Team</a>
                    <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium" href="#"> News</a>
                    <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium" href="publications"> Publications</a>
                </div>
            </div>
            <div class="hidden items-baseline ml-10 space-x-4 md:flex">
                <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-lg font-medium font-aleo" href="/#"> Workshop</a>
            </div>
            <div class="flex items-center ml-4 md:ml-6 md:hidden">
                <p class="text-3xl text-gray-300 font-extrabold text-center font-serif">Unicorn</p>
            </div>
            <div class="flex -mr-2 md:hidden">
                <button
                    data-collapse-menu-button
                    class="text-gray-800 dark:text-white hover:text-gray-300 inline-flex items-center justify-center p-2 rounded-md focus:outline-none">
                    <svg width="20" height="20" fill="currentColor" class="w-8 h-8" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="hidden md:hidden" data-collapsable-menu>
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="#"> Home</a>
            <a class="text-gray-800 dark:text-white block px-3 py-2 rounded-md text-base font-medium" href="#"> Team</a>
            <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="#"> News</a>
            <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="publications"> Publications</a>
        </div>
    </div>

    <script>
        const button = document.querySelector('[data-collapse-menu-button]')!;
        const menu = document.querySelector('[data-collapsable-menu]')!;

        button.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });
    </script>
</nav>
