<nav class="bg-white w-full flex justify-center px-12 gap-x-2 mx-auto max-w-5xl font-aleo flex-wrap text-lg">
    <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/">Home</a>
    <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/team">Team</a>
    <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/news">News</a>
    <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/publications">Publications</a>
    <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/workshop">Workshop</a>
</nav>
