---
import NavLink from './nav-link.astro';
---

<nav class="bg-white w-full flex justify-center px-12 gap-x-2 mx-auto font-aleo flex-wrap text-lg">
    <NavLink class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/">Home</NavLink>
    <NavLink class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/team">Team</NavLink>
    <NavLink class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/news">News</NavLink>
    <NavLink class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/publications">Publications</NavLink>
    <NavLink class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/workshop">Workshop</NavLink>
</nav>
