<nav class="bg-white w-full">
    <div class="px-12 mx-auto max-w-5xl font-aleo items-baseline space-x-4 flex flex-wrap text-lg">
        <a class="text-gray-200 hover:text-gray-400 px-3 py-2 rounded-b bg-black" href="/"> Home</a>
        <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/"> Team</a>
        <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/"> News</a>
        <a class="text-gray-800 hover:text-gray-600 px-3 py-2" href="/publications"> Publications</a>
        <a class="text-gray-800 hover:text-gray-800 px-3 py-2 text-lg font-aleo ml-auto" href="/#"> Workshop</a>
    </div>
</nav>
