<div class="px-4 py-20 bg-lightblue">
    <div class="flex flex-col max-w-6xl mx-auto md:flex-row">
        <h2 class="w-full mr-8 text-3xl font-extrabold leading-9 md:w-1/3 text-gradient">News</h2>
        <dl class="w-full md:w-2/3">
            <dt class="mb-4">
                <h3 class="text-xl font-semibold">Workshop videos online</h3>
            </dt>
            <dd class="mb-16">
                <p>
                    Laborum qui irure magna laboris velit Lorem labore consequat in ut laborum ex duis laboris. Laborum
                    adipisicing est proident mollit eu pariatur. Non qui amet dolore cupidatat consectetur aliquip velit
                    eu. Nulla adipisicing veniam non voluptate ex eiusmod proident enim et occaecat nulla commodo
                    incididunt. Dolore ullamco enim Lorem commodo nisi nisi adipisicing culpa in. Veniam ipsum ea in
                    commodo magna eu.
                </p>
            </dd>
            <dt class="mb-4">
                <h3 class="text-xl font-semibold">
                    Consectetur cupidatat aute non enim commodo dolor do reprehenderit.
                </h3>
            </dt>
            <dd class="mb-16">
                <p>
                    Qui cillum enim occaecat enim mollit qui dolore irure Lorem cillum. Excepteur ipsum esse enim fugiat
                    consequat aliqua magna id culpa aliquip deserunt nostrud eu nostrud. Laborum tempor anim sint
                    consectetur. Aliqua voluptate cupidatat ex minim. Laborum magna nostrud ullamco exercitation amet
                    aute.
                </p>
            </dd>
            <dt class="mb-4">
                <h3 class="text-xl font-semibold">Website online</h3>
            </dt>
            <dd class="mb-16">
                <p>
                    Nisi ex duis aute quis deserunt est veniam nisi pariatur aliqua veniam esse duis mollit. Sunt velit
                    cillum Lorem laborum adipisicing voluptate. Cillum ad cillum est aliquip laborum laborum esse
                    nostrud qui consectetur id sunt. Quis ea irure Lorem non adipisicing laborum pariatur ut duis.
                </p>
            </dd>
        </dl>
    </div>
</div>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
