---
import '../styles/base.css';
import { ViewTransitions } from 'astro:transitions';

import Footer from '@components/footer.astro';
import Nav from '@components/nav.astro';

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <ViewTransitions />
    </head>
    <body class="flex flex-col min-h-screen">
        <Nav />
        <main class="px-12 max-w-4xl mx-auto my-8">
            <slot />
        </main>
        <Footer />
        <style>
            html {
                min-width: 400px;
            }
        </style>
    </body>
</html>
