---
import Layout from '@layouts/base.astro';
---

<Layout title="Publications">
    <div class="prose prose-headings:font-aleo prose-p:font-raleway prose-li:font-raleway max-w-5xl mx-auto p-10">
        <slot />
    </div>
</Layout>
